*{
    text-align: left;
}
body{
    height: 100vh;
}
main{
    flex-wrap: wrap;
}
.card{
    grid-template-columns:470px 470px;
    grid-template-rows:  340px;
    grid-template-areas:
    "text" "img";
    gap: 0;
}
.card-img__container{
    grid-area: "img";
    grid-row: 1/2;
    grid-column: 2/ 3;
}
.card-img__container span{
    border-radius: 0 10px 10px 0;
}
.card-text__container{
    grid-area: "text";
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 60px 0;
    gap:50px
}
.card-text__container--text{
    width: 65%;
}
.card-text__container--data{
    width: 65%;
    flex-direction: row;
    justify-content: left;
}